### Housing prices dataset: by provinces and urban areas

In [1]:
import pandas as pd

# Load the spreadsheet
file_path = '../data/raw/Canada_Housing_Prices_2005_2024.xlsx'
spreadsheet = pd.ExcelFile(file_path)

# Display the names of the sheets
sheet_names = spreadsheet.sheet_names
sheet_names

['AGGREGATE',
 'BRITISH_COLUMBIA',
 'VANCOUVER_ISLAND',
 'VICTORIA',
 'LOWER_MAINLAND',
 'GREATER_VANCOUVER',
 'FRASER_VALLEY',
 'CHILLIWACK_AND_DISTRICT',
 'INTERIOR_BC',
 'ALBERTA',
 'CALGARY',
 'EDMONTON',
 'SASKATCHEWAN',
 'REGINA',
 'SASKATOON',
 'WINNIPEG',
 'ONTARIO',
 'BANCROFT_AND_AREA',
 'BARRIE_AND_DISTRICT',
 'BRANTFORD_REGION',
 'CAMBRIDGE',
 'GREY_BRUCE_OWEN_SOUND',
 'GUELPH_AND_DISTRICT',
 'HAMILTON_BURLINGTON',
 'HURON_PERTH',
 'KAWARTHA_LAKES',
 'KINGSTON_AND_AREA',
 'KITCHENER_WATERLOO',
 'LAKELANDS',
 'LONDON_ST_THOMAS',
 'MISSISSAUGA',
 'NIAGARA_REGION',
 'NORTH_BAY',
 'NORTHUMBERLAND_HILLS',
 'OAKVILLE_MILTON',
 'OTTAWA',
 'PETERBOROUGH_AND_KAWARTHAS',
 'QUINTE_AND_DISTRICT',
 'RIDEAU_ST_LAWRENCE',
 'SAULT_STE_MARIE',
 'SIMCOE_AND_DISTRICT',
 'SUDBURY',
 'TILLSONBURG_DISTRICT',
 'GREATER_TORONTO',
 'WINDSOR_ESSEX',
 'WOODSTOCK_INGERSOLL',
 'QUEBEC',
 'CENTRE_DU_QUEBEC',
 'ESTRIE',
 'MAURICIE',
 'MONTREAL_CMA',
 'QUEBEC_CMA',
 'NEW_BRUNSWICK',
 'FREDERICTON',
 'GREATER_MONCTON',
 'SAINT_JOHN_NB',
 'NOVA_SCOTIA',
 'HALIFAX_DARTMOUTH',
 'PRINCE_EDWARD_ISLAND',
 'NEWFOUNDLAND_AND_LABRADOR',
 'ST_JOHNS_NL']

In [2]:
import sqlite3

# Create a new SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Function to write each sheet to the SQLite database
def write_sheet_to_db(sheet_name):
    df = spreadsheet.parse(sheet_name)
    df.to_sql(sheet_name, conn, if_exists='replace', index=False)

# Write each sheet to the database
for sheet in sheet_names:
    write_sheet_to_db(sheet)

# Close the connection
conn.close()

# Confirm the database creation
db_path

'../data/sql/Canada_Housing_Prices_2005_2024.db'

In [4]:
# Load the data from the 'AGGREGATE' sheet
conn = sqlite3.connect(db_path)
aggregate_df = pd.read_sql_query("SELECT * FROM AGGREGATE", conn)
conn.close()

# Display the data from 'AGGREGATE' sheet

aggregate_df.head()

,Date,Composite_HPI_SA,Single_Family_HPI_SA,One_Storey_HPI_SA,Two_Storey_HPI_SA,Townhouse_HPI_SA,Apartment_HPI_SA,Composite_Benchmark_SA,Single_Family_Benchmark_SA,One_Storey_Benchmark_SA,Two_Storey_Benchmark_SA,Townhouse_Benchmark_SA,Apartment_Benchmark_SA
0,2005-01-01 00:00:00,100.0,100.0,100.0,100.0,100.0,100.0,239800,260400,207700,302900,201700,172000
1,2005-02-01 00:00:00,100.3,100.2,100.3,100.1,100.3,100.6,240500,261000,208400,303300,202300,173000
2,2005-03-01 00:00:00,100.6,100.6,100.7,100.5,100.6,101.1,241300,261900,209200,304300,202900,173900
3,2005-04-01 00:00:00,100.9,100.8,101.2,100.6,100.8,101.5,242000,262600,210100,304800,203300,174600
4,2005-05-01 00:00:00,101.2,101.1,101.4,100.8,101.0,102.0,242600,263200,210600,305400,203700,175400

In [6]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Fetch all table names from the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, conn)['name'].tolist()

# Print the fetched table names for debugging
print("Fetched table names:", table_names)

Fetched table names: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']

In [7]:
# Read data from each table and store in a dictionary
data_frames = {}
for table in table_names:
    df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
    if not df.empty:
        data_frames[table] = df
    else:
        print(f"Warning: Table '{table}' is empty and will not be included.")

# Close the connection
conn.close()

# Print the keys of the data_frames dictionary for debugging
print("Tables with data:", list(data_frames.keys()))

Tables with data: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']

In [9]:
# Merge or concatenate the data frames
if data_frames:
    # Example of Concatenation (if you want to just stack the data)
    combined_df = pd.concat(data_frames.values(), ignore_index=True)
    
    # Save the combined dataset to a new file (optional)
    combined_df.to_csv('../data/processed/Combined_Housing_Data.csv', index=False)

    # Display the first few rows of the combined dataset
    print("Combined DataFrame:")
    print(combined_df.head())
else:
    print("No data frames to concatenate.")

Combined DataFrame:
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             100.3                 100.2
2  2005-03-01 00:00:00             100.6                 100.6
3  2005-04-01 00:00:00             100.9                 100.8
4  2005-05-01 00:00:00             101.2                 101.1

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              100.3              100.1             100.3             100.6
2              100.7              100.5             100.6             101.1
3              101.2              100.6             100.8             101.5
4              101.4              100.8             101.0             102.0

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  239800                      260400
1                  240500                      261000
2                  241300                      261900
3                  242000                      262600
4                  242600                      263200

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   207700                   302900                201700.0
1                   208400                   303300                202300.0
2                   209200                   304300                202900.0
3                   210100                   304800                203300.0
4                   210600                   305400                203700.0

   Apartment_Benchmark_SA
0                172000.0
1                173000.0
2                173900.0
3                174600.0
4                175400.0

In [1]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Fetch all table names from the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, conn)['name'].tolist()

# Print the fetched table names for debugging
print("Fetched table names:", table_names)

# Read data from each table and store in a dictionary
data_frames = {}
for table in table_names:
    df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
    if not df.empty:
        data_frames[table] = df
        # Print the first few rows of the table
        print(f"First few rows of table '{table}':")
        print(df.head())
    else:
        print(f"Warning: Table '{table}' is empty and will not be included.")

# Close the connection
conn.close()

# Print the keys of the data_frames dictionary for debugging
print("Tables with data:", list(data_frames.keys()))

Fetched table names: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']
First few rows of table 'AGGREGATE':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             100.3                 100.2
2  2005-03-01 00:00:00             100.6                 100.6
3  2005-04-01 00:00:00             100.9                 100.8
4  2005-05-01 00:00:00             101.2                 101.1

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              100.3              100.1             100.3             100.6
2              100.7              100.5             100.6             101.1
3              101.2              100.6             100.8             101.5
4              101.4              100.8             101.0             102.0

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  239800                      260400
1                  240500                      261000
2                  241300                      261900
3                  242000                      262600
4                  242600                      263200

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   207700                   302900                  201700
1                   208400                   303300                  202300
2                   209200                   304300                  202900
3                   210100                   304800                  203300
4                   210600                   305400                  203700

   Apartment_Benchmark_SA
0                  172000
1                  173000
2                  173900
3                  174600
4                  175400
First few rows of table 'BRITISH_COLUMBIA':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             100.6                 100.5
2  2005-03-01 00:00:00             101.4                 101.2
3  2005-04-01 00:00:00             101.9                 101.8
4  2005-05-01 00:00:00             102.6                 102.3

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              100.7              100.3             100.7             101.0
2              101.9              100.6             101.3             102.3
3              102.8              100.9             101.9             103.0
4              103.5              101.4             102.4             103.7

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  294100                      368600
1                  295900                      370400
2                  298100                      373000
3                  299700                      375100
4                  301600                      377200

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   287800                   468600                  242200
1                   289900                   470100                  243900
2                   293400                   471200                  245400
3                   295900                   473000                  246700
4                   298000                   475000                  248100

   Apartment_Benchmark_SA
0                  189300
1                  191200
2                  193600
3                  194900
4                  196300
First few rows of table 'VANCOUVER_ISLAND':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             102.1                 102.2
2  2005-03-01 00:00:00             104.2                 104.2
3  2005-04-01 00:00:00             105.8                 105.8
4  2005-05-01 00:00:00             107.3                 107.2

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              101.9              102.6             103.7             101.8
2              103.8              105.0             107.0             103.8
3              105.5              106.6             107.2             106.6
4              107.0              107.8             107.3             109.9

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  193300                      213600
1                  197400                      218200
2                  201500                      222600
3                  204600                      225900
4                  207400                      229000

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   205400                   238400                  136200
1                   209400                   244700                  141200
2                   213300                   250400                  145700
3                   216600                   254100                  146000
4                   219800                   256900                  146200

   Apartment_Benchmark_SA
0                   99400
1                  101200
2                  103200
3                  106000
4                  109200
First few rows of table 'VICTORIA':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             101.3                 101.1
2  2005-03-01 00:00:00             102.5                 102.0
3  2005-04-01 00:00:00             104.4                 103.8
4  2005-05-01 00:00:00             106.2                 105.5

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              101.2              101.0             101.8             101.7
2              102.5              101.8             103.9             103.3
3              103.8              103.7             105.4             105.4
4              105.2              105.8             106.9             107.4

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  301000                      373600
1                  304900                      377700
2                  308500                      381200
3                  314200                      387800
4                  319600                      394100

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   337800                   425600                  265400
1                   341900                   430000                  270100
2                   346200                   433400                  275700
3                   350700                   441500                  279600
4                   355500                   450300                  283600

   Apartment_Benchmark_SA
0                  173200
1                  176100
2                  178900
3                  182600
4                  186000
First few rows of table 'LOWER_MAINLAND':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             100.4                 100.2
2  2005-03-01 00:00:00             100.8                 100.4
3  2005-04-01 00:00:00             101.1                 100.6
4  2005-05-01 00:00:00             101.5                 100.8

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              100.5              100.1             100.4             100.7
2              101.0              100.1             100.7             102.0
3              101.3              100.3             101.3             102.6
4              101.6              100.4             101.6             103.4

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  331900                      461400
1                  333100                      462400
2                  334600                      463100
3                  335500                      464000
4                  336900                      465200

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   362600                   533600                  264200
1                   364500                   534100                  265200
2                   366100                   534200                  266000
3                   367200                   535000                  267600
4                   368500                   536000                  268500

   Apartment_Benchmark_SA
0                  201800
1                  203300
2                  205800
3                  207000
4                  208700
First few rows of table 'GREATER_VANCOUVER':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             100.4                 100.1
2  2005-03-01 00:00:00             100.8                 100.2
3  2005-04-01 00:00:00             101.0                 100.3
4  2005-05-01 00:00:00             101.5                 100.5

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              100.4              100.0             100.4             100.8
2              100.5              100.0             100.7             102.2
3              101.1              100.1             101.5             102.8
4              101.2              100.3             101.9             103.6

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  356800                      542000
1                  358100                      542600
2                  359700                      542900
3                  360500                      543800
4                  362200                      544900

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   426400                   602200                  289400
1                   428000                   602300                  290700
2                   428500                   602000                  291500
3                   431100                   602900                  293700
4                   431400                   604000                  294900

   Apartment_Benchmark_SA
0                  219000
1                  220800
2                  223800
3                  225100
4                  226900
First few rows of table 'FRASER_VALLEY':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             100.4                 100.5
2  2005-03-01 00:00:00             100.7                 100.9
3  2005-04-01 00:00:00             101.1                 101.2
4  2005-05-01 00:00:00             101.4                 101.5

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              100.8              100.2             100.2             100.4
2              101.5              100.4             100.4             100.6
3              101.8              100.6             100.6             101.5
4              102.3              100.9             100.8             101.7

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  281100                      353200
1                  282300                      354900
2                  283200                      356400
3                  284100                      357400
4                  285000                      358500

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   307800                   404700                  224400
1                   310300                   405600                  224800
2                   312300                   406500                  225300
3                   313400                   407200                  225800
4                   314800                   408300                  226300

   Apartment_Benchmark_SA
0                  123000
1                  123500
2                  123700
3                  124800
4                  125100
First few rows of table 'CHILLIWACK_AND_DISTRICT':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             101.3                 101.4
2  2005-03-01 00:00:00             103.1                 103.5
3  2005-04-01 00:00:00             104.1                 104.7
4  2005-05-01 00:00:00             104.5                 104.9

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              102.0              100.5             101.1              99.8
2              105.2              101.1             101.8              99.5
3              106.7              101.6             103.2              99.5
4              106.7              102.1             104.0              99.6

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  206400                      244900
1                  209000                      248400
2                  212800                      253500
3                  214900                      256300
4                  215600                      256800

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   218100                   293400                  158300
1                   222400                   294900                  160100
2                   229400                   296500                  161100
3                   232800                   298000                  163300
4                   232800                   299700                  164700

   Apartment_Benchmark_SA
0                   96000
1                   95800
2                   95500
3                   95500
4                   95600
First few rows of table 'INTERIOR_BC':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             101.0                 100.5
2  2005-03-01 00:00:00             102.2                 102.3
3  2005-04-01 00:00:00             103.5                 103.8
4  2005-05-01 00:00:00             104.3                 104.8

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              100.2              100.9             102.0             103.4
2              102.4              101.7             101.8             103.0
3              104.3              102.5             102.4             103.5
4              105.4              103.3             103.8             102.0

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  212500                      233400
1                  214700                      234500
2                  217200                      238800
3                  219900                      242300
4                  221600                      244500

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   218500                   278800                  204500
1                   219000                   281400                  208600
2                   223800                   283600                  208100
3                   227900                   285900                  209500
4                   230200                   288100                  212300

   Apartment_Benchmark_SA
0                  139400
1                  144200
2                  143600
3                  144300
4                  142200
First few rows of table 'ALBERTA':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00              99.2                  99.1
2  2005-03-01 00:00:00              98.3                  98.2
3  2005-04-01 00:00:00              97.2                  97.1
4  2005-05-01 00:00:00              95.9                  95.9

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1               99.2               99.1              99.5              99.8
2               98.4               98.2              98.1              99.4
3               97.3               97.0              97.3              98.5
4               96.1               95.7              95.3              97.2

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  202800                      226600
1                  201200                      224600
2                  199400                      222600
3                  197100                      220000
4                  194400                      217200

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   197100                   260400                  149300
1                   195600                   258000                  148500
2                   193900                   255700                  146400
3                   191700                   252700                  145300
4                   189500                   249300                  142300

   Apartment_Benchmark_SA
0                  124000
1                  123800
2                  123300
3                  122100
4                  120500
First few rows of table 'CALGARY':
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00              99.8                  99.7
2  2005-03-01 00:00:00              99.8                  99.7
3  2005-04-01 00:00:00              99.4                  99.5
4  2005-05-01 00:00:00              99.0                  99.3

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0

In [2]:
# Merge or concatenate the data frames
if data_frames:
    # Example of Concatenation (if you want to just stack the data)
    combined_df = pd.concat(data_frames.values(), ignore_index=True)
    
    # Save the combined dataset to a new file (optional)
    combined_df.to_csv('../data/processed/Combined_Housing_Data2.csv', index=False)

    # Display the first few rows of the combined dataset
    print("Combined DataFrame:")
    print(combined_df.head())
else:
    print("No data frames to concatenate.")

Combined DataFrame:
                  Date  Composite_HPI_SA  Single_Family_HPI_SA  \
0  2005-01-01 00:00:00             100.0                 100.0
1  2005-02-01 00:00:00             100.3                 100.2
2  2005-03-01 00:00:00             100.6                 100.6
3  2005-04-01 00:00:00             100.9                 100.8
4  2005-05-01 00:00:00             101.2                 101.1

   One_Storey_HPI_SA  Two_Storey_HPI_SA  Townhouse_HPI_SA  Apartment_HPI_SA  \
0              100.0              100.0             100.0             100.0
1              100.3              100.1             100.3             100.6
2              100.7              100.5             100.6             101.1
3              101.2              100.6             100.8             101.5
4              101.4              100.8             101.0             102.0

   Composite_Benchmark_SA  Single_Family_Benchmark_SA  \
0                  239800                      260400
1                  240500                      261000
2                  241300                      261900
3                  242000                      262600
4                  242600                      263200

   One_Storey_Benchmark_SA  Two_Storey_Benchmark_SA  Townhouse_Benchmark_SA  \
0                   207700                   302900                201700.0
1                   208400                   303300                202300.0
2                   209200                   304300                202900.0
3                   210100                   304800                203300.0
4                   210600                   305400                203700.0

   Apartment_Benchmark_SA
0                172000.0
1                173000.0
2                173900.0
3                174600.0
4                175400.0

In [13]:
import pandas as pd
import sqlite3
import os

# Connect to the SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Fetch all table names from the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, conn)['name'].tolist()

# Print the fetched table names for debugging
print("Fetched table names:", table_names)

# Directory to save the CSV files
output_dir = '../data/processed/housing_prices/'

# Create the directory if it does not exist
os.makedirs(output_dir, exist_ok=True)

# Read data from each table and save to a CSV file
for table in table_names:
    df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
    if not df.empty:
        output_path = os.path.join(output_dir, f"{table}.csv")
        df.to_csv(output_path, index=False)
        print(f"Saved table '{table}' to '{output_path}'")
    else:
        print(f"Warning: Table '{table}' is empty and will not be saved.")

# Close the connection
conn.close()

Fetched table names: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']
Saved table 'AGGREGATE' to '../data/processed/housing_prices/AGGREGATE.csv'
Saved table 'BRITISH_COLUMBIA' to '../data/processed/housing_prices/BRITISH_COLUMBIA.csv'
Saved table 'VANCOUVER_ISLAND' to '../data/processed/housing_prices/VANCOUVER_ISLAND.csv'
Saved table 'VICTORIA' to '../data/processed/housing_prices/VICTORIA.csv'
Saved table 'LOWER_MAINLAND' to '../data/processed/housing_prices/LOWER_MAINLAND.csv'
Saved table 'GREATER_VANCOUVER' to '../data/processed/housing_prices/GREATER_VANCOUVER.csv'
Saved table 'FRASER_VALLEY' to '../data/processed/housing_prices/FRASER_VALLEY.csv'
Saved table 'CHILLIWACK_AND_DISTRICT' to '../data/processed/housing_prices/CHILLIWACK_AND_DISTRICT.csv'
Saved table 'INTERIOR_BC' to '../data/processed/housing_prices/INTERIOR_BC.csv'
Saved table 'ALBERTA' to '../data/processed/housing_prices/ALBERTA.csv'
Saved table 'CALGARY' to '../data/processed/housing_prices/CALGARY.csv'
Saved table 'EDMONTON' to '../data/processed/housing_prices/EDMONTON.csv'
Saved table 'SASKATCHEWAN' to '../data/processed/housing_prices/SASKATCHEWAN.csv'
Saved table 'REGINA' to '../data/processed/housing_prices/REGINA.csv'
Saved table 'SASKATOON' to '../data/processed/housing_prices/SASKATOON.csv'
Saved table 'WINNIPEG' to '../data/processed/housing_prices/WINNIPEG.csv'
Saved table 'ONTARIO' to '../data/processed/housing_prices/ONTARIO.csv'
Saved table 'BANCROFT_AND_AREA' to '../data/processed/housing_prices/BANCROFT_AND_AREA.csv'
Saved table 'BARRIE_AND_DISTRICT' to '../data/processed/housing_prices/BARRIE_AND_DISTRICT.csv'
Saved table 'BRANTFORD_REGION' to '../data/processed/housing_prices/BRANTFORD_REGION.csv'
Saved table 'CAMBRIDGE' to '../data/processed/housing_prices/CAMBRIDGE.csv'
Saved table 'GREY_BRUCE_OWEN_SOUND' to '../data/processed/housing_prices/GREY_BRUCE_OWEN_SOUND.csv'
Saved table 'GUELPH_AND_DISTRICT' to '../data/processed/housing_prices/GUELPH_AND_DISTRICT.csv'
Saved table 'HAMILTON_BURLINGTON' to '../data/processed/housing_prices/HAMILTON_BURLINGTON.csv'
Saved table 'HURON_PERTH' to '../data/processed/housing_prices/HURON_PERTH.csv'
Saved table 'KAWARTHA_LAKES' to '../data/processed/housing_prices/KAWARTHA_LAKES.csv'
Saved table 'KINGSTON_AND_AREA' to '../data/processed/housing_prices/KINGSTON_AND_AREA.csv'
Saved table 'KITCHENER_WATERLOO' to '../data/processed/housing_prices/KITCHENER_WATERLOO.csv'
Saved table 'LAKELANDS' to '../data/processed/housing_prices/LAKELANDS.csv'
Saved table 'LONDON_ST_THOMAS' to '../data/processed/housing_prices/LONDON_ST_THOMAS.csv'
Saved table 'MISSISSAUGA' to '../data/processed/housing_prices/MISSISSAUGA.csv'
Saved table 'NIAGARA_REGION' to '../data/processed/housing_prices/NIAGARA_REGION.csv'
Saved table 'NORTH_BAY' to '../data/processed/housing_prices/NORTH_BAY.csv'
Saved table 'NORTHUMBERLAND_HILLS' to '../data/processed/housing_prices/NORTHUMBERLAND_HILLS.csv'
Saved table 'OAKVILLE_MILTON' to '../data/processed/housing_prices/OAKVILLE_MILTON.csv'
Saved table 'OTTAWA' to '../data/processed/housing_prices/OTTAWA.csv'
Saved table 'PETERBOROUGH_AND_KAWARTHAS' to '../data/processed/housing_prices/PETERBOROUGH_AND_KAWARTHAS.csv'
Saved table 'QUINTE_AND_DISTRICT' to '../data/processed/housing_prices/QUINTE_AND_DISTRICT.csv'
Saved table 'RIDEAU_ST_LAWRENCE' to '../data/processed/housing_prices/RIDEAU_ST_LAWRENCE.csv'
Saved table 'SAULT_STE_MARIE' to '../data/processed/housing_prices/SAULT_STE_MARIE.csv'
Saved table 'SIMCOE_AND_DISTRICT' to '../data/processed/housing_prices/SIMCOE_AND_DISTRICT.csv'
Saved table 'SUDBURY' to '../data/processed/housing_prices/SUDBURY.csv'
Saved table 'TILLSONBURG_DISTRICT' to '../data/processed/housing_prices/TILLSONBURG_DISTRICT.csv'
Saved table 'GREATER_TORONTO' to '../data/processed/housing_prices/GREATER_TORONTO.csv'
Saved table 'WINDSOR_ESSEX' to '../data/processed/housing_prices/WINDSOR_ESSEX.csv'
Saved table 'WOODSTOCK_INGERSOLL' to '../data/processed/housing_prices/WOODSTOCK_INGERSOLL.csv'
Saved table 'QUEBEC' to '../data/processed/housing_prices/QUEBEC.csv'
Saved table 'CENTRE_DU_QUEBEC' to '../data/processed/housing_prices/CENTRE_DU_QUEBEC.csv'
Saved table 'ESTRIE' to '../data/processed/housing_prices/ESTRIE.csv'
Saved table 'MAURICIE' to '../data/processed/housing_prices/MAURICIE.csv'
Saved table 'MONTREAL_CMA' to '../data/processed/housing_prices/MONTREAL_CMA.csv'
Saved table 'QUEBEC_CMA' to '../data/processed/housing_prices/QUEBEC_CMA.csv'
Saved table 'NEW_BRUNSWICK' to '../data/processed/housing_prices/NEW_BRUNSWICK.csv'
Saved table 'FREDERICTON' to '../data/processed/housing_prices/FREDERICTON.csv'
Saved table 'GREATER_MONCTON' to '../data/processed/housing_prices/GREATER_MONCTON.csv'
Saved table 'SAINT_JOHN_NB' to '../data/processed/housing_prices/SAINT_JOHN_NB.csv'
Saved table 'NOVA_SCOTIA' to '../data/processed/housing_prices/NOVA_SCOTIA.csv'
Saved table 'HALIFAX_DARTMOUTH' to '../data/processed/housing_prices/HALIFAX_DARTMOUTH.csv'
Saved table 'PRINCE_EDWARD_ISLAND' to '../data/processed/housing_prices/PRINCE_EDWARD_ISLAND.csv'
Saved table 'NEWFOUNDLAND_AND_LABRADOR' to '../data/processed/housing_prices/NEWFOUNDLAND_AND_LABRADOR.csv'
Saved table 'ST_JOHNS_NL' to '../data/processed/housing_prices/ST_JOHNS_NL.csv'

In [3]:
import pandas as pd
import sqlite3
import os

# Connect to the SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Fetch all table names from the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, conn)['name'].tolist()

# Print the fetched table names for debugging
print("Fetched table names:", table_names)

# List to hold the data frames
data_frames = []

# Read data from each table and extract relevant columns
for table in table_names:
    df = pd.read_sql_query(f"SELECT Date, Single_Family_Benchmark_SA FROM {table}", conn)
    if not df.empty:
        df['Geography'] = table
        data_frames.append(df)
    else:
        print(f"Warning: Table '{table}' is empty and will not be included.")

# Close the connection
conn.close()

# Combine all the data frames into a single data frame
combined_df = pd.concat(data_frames, ignore_index=True)

# Save the combined dataset to a new file
output_path = '../data/processed/Single_Family_Benchmark_SA_by_Geography.csv'
combined_df.to_csv(output_path, index=False)

# Display the first few rows of the combined dataset
combined_df.head()

Fetched table names: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']

                  Date  Single_Family_Benchmark_SA  Geography
0  2005-01-01 00:00:00                      260400  AGGREGATE
1  2005-02-01 00:00:00                      261000  AGGREGATE
2  2005-03-01 00:00:00                      261900  AGGREGATE
3  2005-04-01 00:00:00                      262600  AGGREGATE
4  2005-05-01 00:00:00                      263200  AGGREGATE

In [15]:
# Create a dataset for Single Family House Prices

import pandas as pd
import sqlite3
import os

# Connect to the SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Fetch all table names from the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, conn)['name'].tolist()

# Print the fetched table names for debugging
print("Fetched table names:", table_names)

# Initialize the main data frame
main_df = None

# Read data from each table and extract relevant columns
for table in table_names:
    df = pd.read_sql_query(f"SELECT Date, Single_Family_Benchmark_SA FROM {table}", conn)
    if not df.empty:
        df.rename(columns={"Single_Family_Benchmark_SA": table}, inplace=True)
        if main_df is None:
            main_df = df
        else:
            main_df = pd.merge(main_df, df, on="Date", how="outer")
    else:
        print(f"Warning: Table '{table}' is empty and will not be included.")

# Close the connection
conn.close()

# Save the combined dataset to a new file
output_path = '../data/processed/Single_Family_Benchmark_SA_All_Geographies.csv'
main_df.to_csv(output_path, index=False)

# Display the first few rows of the combined dataset
print("Combined DataFrame:")
print(main_df.head())

Fetched table names: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']
Combined DataFrame:
                  Date  AGGREGATE  BRITISH_COLUMBIA  VANCOUVER_ISLAND  \
0  2005-01-01 00:00:00     260400            368600            213600
1  2005-02-01 00:00:00     261000            370400            218200
2  2005-03-01 00:00:00     261900            373000            222600
3  2005-04-01 00:00:00     262600            375100            225900
4  2005-05-01 00:00:00     263200            377200            229000

   VICTORIA  LOWER_MAINLAND  GREATER_VANCOUVER  FRASER_VALLEY  \
0    373600          461400             542000         353200
1    377700          462400             542600         354900
2    381200          463100             542900         356400
3    387800          464000             543800         357400
4    394100          465200             544900         358500

   CHILLIWACK_AND_DISTRICT  INTERIOR_BC  ...  QUEBEC_CMA  NEW_BRUNSWICK  \
0                   244900       233400  ...      131800         123000
1                   248400       234500  ...      132500         123700
2                   253500       238800  ...      132900         124600
3                   256300       242300  ...      132900         124700
4                   256800       244500  ...      134100         124900

   FREDERICTON  GREATER_MONCTON  SAINT_JOHN_NB  NOVA_SCOTIA  \
0       121400           137800         122000       140400
1       121300           138000         123400       141600
2       121000           138400         124700       140200
3       120400           139000         125100       142800
4       119900           139800         125200       142100

   HALIFAX_DARTMOUTH  PRINCE_EDWARD_ISLAND  NEWFOUNDLAND_AND_LABRADOR  \
0             177500                118400                     129400
1             177900                120100                     130600
2             176500                122000                     132000
3             179200                123100                     132700
4             179000                124200                     133300

   ST_JOHNS_NL
0       149300
1       150200
2       151000
3       151200
4       151300

[5 rows x 62 columns]

In [18]:
# Create a dataset for Apartment Prices
# Not all the tables have Apartnment Prices. Extract only from the tables that have this data

import pandas as pd
import sqlite3
import os

# Connect to the SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Fetch all table names from the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, conn)['name'].tolist()

# Print the fetched table names for debugging
print("Fetched table names:", table_names)

# Initialize the main data frame
main_df = None

# Function to check if a column exists in a table
def column_exists(table_name, column_name):
    query = f"PRAGMA table_info({table_name});"
    columns_info = pd.read_sql_query(query, conn)
    return column_name in columns_info['name'].values

# Read data from each table and extract relevant columns
for table in table_names:
    if column_exists(table, 'Apartment_Benchmark_SA'):
        df = pd.read_sql_query(f"SELECT Date, Apartment_Benchmark_SA FROM {table}", conn)
        if not df.empty:
            df.rename(columns={"Apartment_Benchmark_SA": table}, inplace=True)
            if main_df is None:
                main_df = df
            else:
                main_df = pd.merge(main_df, df, on="Date", how="outer")
    else:
        print(f"Warning: Table '{table}' does not have column 'Apartment_Benchmark_SA' and will not be included.")

# Close the connection
conn.close()

# Save the combined dataset to a new file
output_path = '../data/processed/Apartment_Benchmark_SA_All_Geographies.csv'
main_df.to_csv(output_path, index=False)

# Display the first few rows of the combined dataset
print("Combined DataFrame:")
print(main_df.head())

Fetched table names: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']
Warning: Table 'BANCROFT_AND_AREA' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'KAWARTHA_LAKES' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'NORTH_BAY' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'NORTHUMBERLAND_HILLS' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'PETERBOROUGH_AND_KAWARTHAS' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'QUINTE_AND_DISTRICT' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'SAULT_STE_MARIE' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'SIMCOE_AND_DISTRICT' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'SUDBURY' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'TILLSONBURG_DISTRICT' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'WOODSTOCK_INGERSOLL' does not have column 'Apartment_Benchmark_SA' and will not be included.
Warning: Table 'PRINCE_EDWARD_ISLAND' does not have column 'Apartment_Benchmark_SA' and will not be included.
Combined DataFrame:
                  Date  AGGREGATE  BRITISH_COLUMBIA  VANCOUVER_ISLAND  \
0  2005-01-01 00:00:00     172000            189300             99400
1  2005-02-01 00:00:00     173000            191200            101200
2  2005-03-01 00:00:00     173900            193600            103200
3  2005-04-01 00:00:00     174600            194900            106000
4  2005-05-01 00:00:00     175400            196300            109200

   VICTORIA  LOWER_MAINLAND  GREATER_VANCOUVER  FRASER_VALLEY  \
0    173200          201800             219000         123000
1    176100          203300             220800         123500
2    178900          205800             223800         123700
3    182600          207000             225100         124800
4    186000          208700             226900         125100

   CHILLIWACK_AND_DISTRICT  INTERIOR_BC  ...  MONTREAL_CMA  QUEBEC_CMA  \
0                    96000       139400  ...        160100      110600
1                    95800       144200  ...        162600      110900
2                    95500       143600  ...        159700      111400
3                    95500       144300  ...        161400      111200
4                    95600       142200  ...        160000      110700

   NEW_BRUNSWICK  FREDERICTON  GREATER_MONCTON  SAINT_JOHN_NB  NOVA_SCOTIA  \
0         116200       123400            92600          97000       169800
1         116500       123600            93000          97400       169700
2         116800       123900            93500          97800       169600
3         117100       124100            93900          98200       169500
4         117300       124300            94400          98700       169400

   HALIFAX_DARTMOUTH  NEWFOUNDLAND_AND_LABRADOR  ST_JOHNS_NL
0             169800                     106800       106500
1             169700                     106800       106500
2             169600                     106800       106500
3             169500                     106800       106500
4             169400                     106800       106500

[5 rows x 50 columns]

In [19]:
# Create a dataset for Townhouse Prices
# Not all the tables have Townhouse Prices. Extract only from the tables that have this data

import pandas as pd
import sqlite3
import os

# Connect to the SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Fetch all table names from the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, conn)['name'].tolist()

# Print the fetched table names for debugging
print("Fetched table names:", table_names)

# Initialize the main data frame
main_df = None

# Function to check if a column exists in a table
def column_exists(table_name, column_name):
    query = f"PRAGMA table_info({table_name});"
    columns_info = pd.read_sql_query(query, conn)
    return column_name in columns_info['name'].values

# Read data from each table and extract relevant columns
for table in table_names:
    if column_exists(table, 'Townhouse_Benchmark_SA'):
        df = pd.read_sql_query(f"SELECT Date, Townhouse_Benchmark_SA FROM {table}", conn)
        if not df.empty:
            df.rename(columns={"Townhouse_Benchmark_SA": table}, inplace=True)
            if main_df is None:
                main_df = df
            else:
                main_df = pd.merge(main_df, df, on="Date", how="outer")
    else:
        print(f"Warning: Table '{table}' does not have column 'Townhouse_Benchmark_SA' and will not be included.")

# Close the connection
conn.close()

# Save the combined dataset to a new file
output_path = '../data/processed/Townhouse_Benchmark_SA_All_Geographies.csv'
main_df.to_csv(output_path, index=False)

# Display the first few rows of the combined dataset
print("Combined DataFrame:")
print(main_df.head())

Fetched table names: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']
Warning: Table 'BANCROFT_AND_AREA' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'HURON_PERTH' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'KAWARTHA_LAKES' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'NORTH_BAY' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'PETERBOROUGH_AND_KAWARTHAS' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'SAULT_STE_MARIE' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'SUDBURY' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'TILLSONBURG_DISTRICT' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'CENTRE_DU_QUEBEC' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'ESTRIE' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'MAURICIE' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'FREDERICTON' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'SAINT_JOHN_NB' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Warning: Table 'PRINCE_EDWARD_ISLAND' does not have column 'Townhouse_Benchmark_SA' and will not be included.
Combined DataFrame:
                  Date  AGGREGATE  BRITISH_COLUMBIA  VANCOUVER_ISLAND  \
0  2005-01-01 00:00:00     201700            242200            136200
1  2005-02-01 00:00:00     202300            243900            141200
2  2005-03-01 00:00:00     202900            245400            145700
3  2005-04-01 00:00:00     203300            246700            146000
4  2005-05-01 00:00:00     203700            248100            146200

   VICTORIA  LOWER_MAINLAND  GREATER_VANCOUVER  FRASER_VALLEY  \
0    265400          264200             289400         224400
1    270100          265200             290700         224800
2    275700          266000             291500         225300
3    279600          267600             293700         225800
4    283600          268500             294900         226300

   CHILLIWACK_AND_DISTRICT  INTERIOR_BC  ...  WOODSTOCK_INGERSOLL  QUEBEC  \
0                   158300       204500  ...                97500  181700
1                   160100       208600  ...                97800  182700
2                   161100       208100  ...                98200  183500
3                   163300       209500  ...                98600  185200
4                   164700       212300  ...                98900  185200

   MONTREAL_CMA  QUEBEC_CMA  NEW_BRUNSWICK  GREATER_MONCTON  NOVA_SCOTIA  \
0        188000      131400          81400            81400       178600
1        189100      131800          81300            81300       178000
2        190000      132100          81900            81900       177600
3        191800      132400          80900            80900       177700
4        191800      132800          81400            81400       178100

   HALIFAX_DARTMOUTH  NEWFOUNDLAND_AND_LABRADOR  ST_JOHNS_NL
0             180800                     128300       129400
1             180100                     129100       130400
2             179700                     129800       131100
3             179800                     130600       131900
4             180200                     131500       132700

[5 rows x 48 columns]

In [6]:
import pandas as pd
import sqlite3
import os

# Connect to the SQLite database
db_path = '../data/sql/Canada_Housing_Prices_2005_2024.db'
conn = sqlite3.connect(db_path)

# Fetch all table names from the database
query = "SELECT name FROM sqlite_master WHERE type='table';"
table_names = pd.read_sql_query(query, conn)['name'].tolist()

# Print the fetched table names for debugging
print("Fetched table names:", table_names)

# Initialize a list to hold data frames
data_frames = []

# Read data from each table and extract all columns
for table in table_names:
    try:
        df = pd.read_sql_query(f"SELECT * FROM {table}", conn)
        if not df.empty:
            # Prefix column names with table name to avoid collisions
            df = df.rename(columns={col: f"{table}_{col}" for col in df.columns if col != 'Date'})
            data_frames.append(df)
        else:
            print(f"Warning: Table '{table}' is empty and will not be included.")
    except Exception as e:
        print(f"Error processing table '{table}': {e}")

# Close the connection
conn.close()

# Concatenate all data frames along columns, aligning on 'Date'
if data_frames:
    main_df = pd.concat(data_frames, axis=1, join='outer')
    # Ensure that 'Date' column is not duplicated
    main_df = main_df.loc[:, ~main_df.columns.duplicated()]

    # Save the combined dataset to a new file
    output_path = '../data/processed/Housing_Prices_All_Data.csv'
    main_df.to_csv(output_path, index=False)
    
    # Display the first few rows of the combined dataset
    print("Combined DataFrame:")
    print(main_df.head())
else:
    print("No data to save. All tables were empty or there was an error reading the data.")

Fetched table names: ['AGGREGATE', 'BRITISH_COLUMBIA', 'VANCOUVER_ISLAND', 'VICTORIA', 'LOWER_MAINLAND', 'GREATER_VANCOUVER', 'FRASER_VALLEY', 'CHILLIWACK_AND_DISTRICT', 'INTERIOR_BC', 'ALBERTA', 'CALGARY', 'EDMONTON', 'SASKATCHEWAN', 'REGINA', 'SASKATOON', 'WINNIPEG', 'ONTARIO', 'BANCROFT_AND_AREA', 'BARRIE_AND_DISTRICT', 'BRANTFORD_REGION', 'CAMBRIDGE', 'GREY_BRUCE_OWEN_SOUND', 'GUELPH_AND_DISTRICT', 'HAMILTON_BURLINGTON', 'HURON_PERTH', 'KAWARTHA_LAKES', 'KINGSTON_AND_AREA', 'KITCHENER_WATERLOO', 'LAKELANDS', 'LONDON_ST_THOMAS', 'MISSISSAUGA', 'NIAGARA_REGION', 'NORTH_BAY', 'NORTHUMBERLAND_HILLS', 'OAKVILLE_MILTON', 'OTTAWA', 'PETERBOROUGH_AND_KAWARTHAS', 'QUINTE_AND_DISTRICT', 'RIDEAU_ST_LAWRENCE', 'SAULT_STE_MARIE', 'SIMCOE_AND_DISTRICT', 'SUDBURY', 'TILLSONBURG_DISTRICT', 'GREATER_TORONTO', 'WINDSOR_ESSEX', 'WOODSTOCK_INGERSOLL', 'QUEBEC', 'CENTRE_DU_QUEBEC', 'ESTRIE', 'MAURICIE', 'MONTREAL_CMA', 'QUEBEC_CMA', 'NEW_BRUNSWICK', 'FREDERICTON', 'GREATER_MONCTON', 'SAINT_JOHN_NB', 'NOVA_SCOTIA', 'HALIFAX_DARTMOUTH', 'PRINCE_EDWARD_ISLAND', 'NEWFOUNDLAND_AND_LABRADOR', 'ST_JOHNS_NL']
Combined DataFrame:
                  Date  AGGREGATE_Composite_HPI_SA  \
0  2005-01-01 00:00:00                       100.0
1  2005-02-01 00:00:00                       100.3
2  2005-03-01 00:00:00                       100.6
3  2005-04-01 00:00:00                       100.9
4  2005-05-01 00:00:00                       101.2

   AGGREGATE_Single_Family_HPI_SA  AGGREGATE_One_Storey_HPI_SA  \
0                           100.0                        100.0
1                           100.2                        100.3
2                           100.6                        100.7
3                           100.8                        101.2
4                           101.1                        101.4

   AGGREGATE_Two_Storey_HPI_SA  AGGREGATE_Townhouse_HPI_SA  \
0                        100.0                       100.0
1                        100.1                       100.3
2                        100.5                       100.6
3                        100.6                       100.8
4                        100.8                       101.0

   AGGREGATE_Apartment_HPI_SA  AGGREGATE_Composite_Benchmark_SA  \
0                       100.0                            239800
1                       100.6                            240500
2                       101.1                            241300
3                       101.5                            242000
4                       102.0                            242600

   AGGREGATE_Single_Family_Benchmark_SA  AGGREGATE_One_Storey_Benchmark_SA  \
0                                260400                             207700
1                                261000                             208400
2                                261900                             209200
3                                262600                             210100
4                                263200                             210600

   ...  ST_JOHNS_NL_One_Storey_HPI_SA  ST_JOHNS_NL_Two_Storey_HPI_SA  \
0  ...                          100.0                          100.0
1  ...                          100.7                          100.4
2  ...                          101.3                          100.9
3  ...                          101.2                          101.2
4  ...                          101.0                          101.4

   ST_JOHNS_NL_Townhouse_HPI_SA  ST_JOHNS_NL_Apartment_HPI_SA  \
0                         100.0                         100.0
1                         100.8                         100.0
2                         101.3                         100.0
3                         101.9                         100.0
4                         102.6                         100.0

   ST_JOHNS_NL_Composite_Benchmark_SA  ST_JOHNS_NL_Single_Family_Benchmark_SA  \
0                              148100                                  149300
1                              148900                                  150200
2                              149800                                  151000
3                              150000                                  151200
4                              150100                                  151300

   ST_JOHNS_NL_One_Storey_Benchmark_SA  ST_JOHNS_NL_Two_Storey_Benchmark_SA  \
0                               134500                               161400
1                               135400                               162100
2                               136200                               162900
3                               136100                               163300
4                               135800                               163700

   ST_JOHNS_NL_Townhouse_Benchmark_SA  ST_JOHNS_NL_Apartment_Benchmark_SA
0                              129400                              106500
1                              130400                              106500
2                              131100                              106500
3                              131900                              106500
4                              132700                              106500

[5 rows x 681 columns]